{% extends './base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estadisticas.css') }}">
{% endblock %}

{% block body %}

  <a href="/" class="home">Volver al Home</a>
  <div class="contenedor-general">
    <div class="contenedor-grafico">
      <h1>Cantidad de hinchas por Deporte</h1>
      <canvas id="graficoHinchas" class="grafico"></canvas>
    </div>
    <div class="contenedor-grafico">
      <h1>Cantidad de artesanos por tipo de artesanía</h1>
      <canvas id="graficoArtesanos" class="grafico"></canvas>
    </div>
  </div>
  
  <script type="module"  src="{{ url_for('static', filename = 'js/estadisticas.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}