@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-image: linear-gradient(to bottom, #a0d2eb, #e5eaf5, #e5eaf5, #a0d2eb);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato';
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: #494d5f;
}

.home {
  background-color: #494d5f;
  border: 1px solid #494d5f;
  border-radius: 10px;
  color: #e5eaf5;
  padding: 10px;
  text-decoration: none;
}

.contenedor-general{
  margin: 20px 100px;
}

.contenedor-grafico{
  background-color: #ffffff48;
  padding: 10px;
}